.header {
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin-top: 20px;
    color: black;
    font-size: 40px;
    text-align: center;
    border-bottom: blue;

  }
.back{
    display: flex;
    justify-content: center;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.artists-all{
    margin-top: 5%;
    background-color: rgb(85, 85, 253) !important;
    text-align: center;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
hr{
    color: black;
}
.artist-name{
    font-size: 20px;
    color: white;
}